<h3>
    Parents, Kids, and Staff
    <small>Edit in place</small>
</h3>
<div ng-controller="UserGridController as ugc">
    <div class="panel panel-default">
        <table class="table table-bordered table-hover bg-white">
            <tr style="font-weight: bold">
                <td style="width:35%">Username</td>
                <td style="width:20%">Full Name</td>
                <td style="width:20%">Group</td>
                <td style="width:25%">Edit</td>
                <td check-all="check-all">
                    <div class="checkbox c-checkbox">
                        <label>
                            <input type="checkbox" />
                            <span class="fa fa-check"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr dir-paginate="user in ugc.users | itemsPerPage: 10  | toArray | filter:search:strict">
                <td>
                    <!-- editable username (text with validation)-->
                    <span editable-text="user.userName" e-name="userName" e-form="rowform" onbeforesave="ugc.checkName($data, user.id)" e-required="">{{ user.userName || &apos;empty&apos; }}</span>
                </td>
                <td>
                    <!-- editable status (select-local)-->
                    <span editable-text="user.fullName" e-name="fullName" e-form="rowform" onbeforesave="ugc.checkName($data, user.id)" e-required="">{{ user.fullName || &apos;empty&apos; }}</span>
                </td>
                <td>
                    <!-- editable group (select-remote)-->
                    <span editable-select="user.group" e-name="group" onshow="ugc.loadGroups()" e-form="rowform" e-ng-options="g.id as g.name for g in ugc.groups">{{ ugc.showGroup(user) }}</span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form-->
                    <form editable-form="" name="rowform" onbeforesave="ugc.saveUser($data, user.id)" ng-show="rowform.$visible" shown="ugc.inserted == user" class="form-buttons form-inline">
                        <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-info">
                            <em class="fa fa-save"></em>
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="Cancel" class="btn btn-sm btn-default">
                            <em class="fa fa-times"></em>
                        </button>
                    </form>
                    <div ng-show="!rowform.$visible" class="buttons">
                        <button ng-click="rowform.$show()" title="Edit" class="btn btn-sm btn-info">
                            <em class="fa fa-pencil"></em>
                        </button>
                        <button ng-click="ugc.removeUser($index)" title="Delete" class="btn btn-sm btn-danger">
                            <em class="fa fa-trash"></em>
                        </button>
                    </div>
                </td>
                <td>
                    <div class="checkbox c-checkbox">
                        <label>
                            <input type="checkbox" />
                            <span class="fa fa-check"></span>
                        </label>
                    </div>
                </td>
            </tr>
        </table>
        <div class="panel-footer">
            <div class="row">
                <div class="col-lg-2">
                    <div class="input-group pull-right">
                        <select class="input-sm form-control">
                            <option value="0">Action</option>
                            <option value="1">Delete</option>
                            <option value="2">Clone</option>
                            <option value="3">Export</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-default">Apply</button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6"></div>
                <div class="col-lg-4 text-right">
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <button ng-click="ugc.addUser()" class="btn btn-default">Add row</button>
</div>